
body{
    width: 100%;
    max-width: 1500px;
}


.section-apropos{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.APropos{
    display: flex;
    flex-direction: column;
    padding: 20px;
   }

.img-Principale{
    object-fit: cover;
    height: 30vh;
    margin-top: 50px;
    margin-bottom: 50px;
    filter: brightness(75%);
    border-radius: 25px;
    width: 100%;
    filter: brightness(75%);
    border-radius: 25px;
}


/* ///////////////////////////////////RESPONSIVE MOBILE/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (max-width: 767px) {
    
.section-apropos{
    width: 100%;
}
    
.img-Principale{
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

  }