
body{
    width: 100%;
    max-width: 1500px;
}


section{
    width: 100%;
}

.APropos{
    display: flex;
    flex-direction: column;
    padding: 20px;
   }

.img-Principale{
    object-fit: cover;
    height: 30vh;
    margin-top: 50px;
    margin-bottom: 50px;
    filter: brightness(75%);
    border-radius: 25px;
    width: 100%;
    filter: brightness(75%);
    border-radius: 25px;
}
