.container-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.container-nav {
display: flex;
justify-content: space-between;
align-items: center;
width: 220px;
margin-right: 20px;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;

}

.nav-accueil{
font-family: 'Montserrat';
font-style: normal;
display: flex;
align-items: flex-end;
text-align: right;
color: #FF6060;
text-decoration: none;

}

.nav-accueil:hover{
    text-decoration: underline;
}


.nav-APropos {
font-family: 'Montserrat';
font-style: normal;
display: flex;
align-items: flex-end;
text-align: right;

color: #FF6060;
text-decoration: none;
}

.nav-APropos:hover{
    text-decoration: underline;
}


/* ///////////////////////////////////RESPONSIVE MOBILE/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (max-width: 767px) {

  .container-header {
    align-items: center;
  }

.container-header img{
width: 40%;
}

.container-nav {
  justify-content: space-around;
  width: 45%;
  margin-top: 20px;
  padding: 0; 
  font-size: 15px;
  margin-right: 0;
  }

}