
.home-section{
    background: #e9e6e6;
border-radius: 25px;
margin-top: 30px;
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}


.link-image-appartement{
    z-index: 0;
    width: 30%;
    border-radius: 10px;
    min-width: 235px;
    max-width: 400px;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    margin: 0 0 4% 0;
    text-align: left;
    padding-top: 0;
    box-shadow: 2px 2px 30px rgb(209, 208, 208);
    position:relative;

}

.photo-appartement{
    z-index: 1;
    height: 252px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.link-image-appartement h2{
    position: absolute;
    margin: 0;
    bottom: 0;
    padding: 0 0 13px 16px;
    width: 100px;
    color: white;
    font-size: 15px;
}
