

.container-Dropdown{
    width: 100%;
    background-color: #FF6060;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-Dropdown h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    color: white;
    margin-left: 15px;
}


.container-Dropdown img{
    width: 25px;
    height: 15px;
    color: white;
    margin-right: 15px;
}

.img-close{
    rotate: 180deg;
}

.descriptif{
    font-family: 'Montserrat';
font-size: 24px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
color: #FF6060;
padding: 25px;
    margin-top:0;
    background: #F7F7F7;
border-radius: 5px;

}