@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    width: 100%;
}

.page-ficheLogement {
    max-width: 1500px;
    text-align: center;
    padding: 20px 60px 20px 60px;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}


/* TITLE + TAG + USER */


.container-title-tag-user {
    display: flex;
    justify-content: space-between;
}


/* TITLE */

.container-title-location {
    text-align: left;
}


.container-title-location h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: left;
}

.container-title-location p {
    margin-top: 5px;
    font-size: 20px;
    text-align: left;
}



/* TAG */


.container-tag {
    display: flex;
    margin-bottom: 30px;
}


/* USER + STARS*/

.container-user-stars {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* USER */

.container-name-photoUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.container-name-photoUser p {
    display: flex;
    align-items: center;
    text-align: end;
    font-size: 20px;
    margin-right: 20px;
    width: 95px;
    height: 64px;

}

.container-name-photoUser img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}



/* DROPDOWN */

.container-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown {
    width: 49%;
}

.container-equipement {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}



/* ///////////////////////////////////RESPONSIVE MOBILE/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (max-width: 767px) {

    .page-ficheLogement {
        padding: 20px;
    }


    .container-title-tag-user {
        flex-direction: column;

    }

    .container-title-User {
        flex-direction: column;
    }

    .container-title-location h1 {
        font-size: 27px;
        margin-bottom: 12px;
        margin-top: 14px;
    }

    .container-title-location p {
        font-size: 18px;
    }

    .container-tag {
        margin-bottom: 0;
    }


    .container-user-stars {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .container-name-photoUser {
        margin-top: 0;
    }

    .container-name-photoUser p {
        font-size: 15px;
        margin-right: 20px;
        width: 60px;    
        height: 44px;

    }

    .container-name-photoUser img {
        width: 44px;
        height: 44px;
    }


    .container-dropdown {
        flex-direction: column;
        width: 100%;
    }

    .dropdown {
        width: 100%;
    }

}