@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

.homePage{
    max-width: 1500px;
    padding: 20px 60px 20px 60px;
}

.container-img-h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-img-h1 img{
    object-fit: cover;
    height: 30vh;
    filter: brightness(75%);
    border-radius: 25px;
    width: 100%;
}

.container-img-h1 h1{
    position: absolute;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 142.6%;
}

/* ///////////////////////////////////RESPONSIVE MOBILE/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (max-width: 767px) {

    .homePage{
        padding: 20px;
    }

    .container-img-h1{
        margin-top: 20px;
        width: 100%;
    }

    .container-img-h1 h1{
        padding: 20px;
        font-size: 24px;
        font-weight: 500;
    }
    
    .container-img-h1 img{
        height: 16vh;
        border-radius: 10px;
    }
    
    

}

