
.homePage{
    max-width: 1500px;
    padding: 20px;
}

.container-img-h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-img-h1 img{
    object-fit: cover;
    height: 30vh;
    filter: brightness(75%);
    border-radius: 25px;
    width: 100%;
}

.container-img-h1 h1{
    position: absolute;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 142.6%;
}

/* ///////////////////////////////////RESPONSIVE MOBILE/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (max-width: 767px) {


    .container-img-h1 h1{
        font-size: 24px;
    }
    

    

}

