/* CARROUSEL */

.carrousel {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}

.imgLogement {
    width: 100%;
    height: 48vh;
    border-radius: 25px;
    object-fit: cover;
}

.arrowBall{
    width: 100%;
    height: 100%;
    position: absolute;

}

.container-arrow{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.arrow_forward {
    margin-right: 20px;
    height: 60px;
}

.arrow_forward:hover{
    filter: brightness(25%);
}

.arrow_back {
    height: 60px;
    margin-left: 20px;
}

.arrow_back:hover{
    filter: brightness(25%);
}


/* ball */

.container-ball{
  position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
}


.ball{
    margin-bottom: 20px;
   margin-left: 10px;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}

.ball:hover{
    filter: brightness(25%);
}