.container-tag-stars{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container.stars{
    height: 36px;
width: 196px;
}

.stars{
    margin-left: 7px;
}

/* ///////////////////////////////////RESPONSIVE MOBILE/////////////////////////////////////// */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 767px (telephone portable)*/

@media screen and (max-width: 767px) {

    .stars{
      height: 20px;
      margin-left: 5px;
    }

}